.slider-container {
    width: 100%;
    overflow: hidden;
}

.slider-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    box-sizing: border-box;
}

button:focus,
button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border: 0;
    outline: none;
}

.admin_body {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

button.active {
    padding: 10px 20px;
    background-color: #0056b3;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

.navbar-nav .nav-item:last-child {
    pointer-events: none;
    color: white;
    user-select: none;
}

.table_username {
    cursor: pointer;
    color: #224abe;
}

.table_username:hover {
    color: #224abe;
    text-decoration: underline;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 60px;
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation-name: animateModal;
    animation-duration: 0.4s;
    border-radius: 10px;
}

/* Add Animation */
@keyframes animateModal {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

.modal-content h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.modal-content p {
    margin: 10px 0;
}

.modal-content p span {
    font-weight: bold;
}

.modal-content .button-container {
    text-align: right;
    margin-top: 20px;
}

.modal-content .button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content .button-container button:hover {
    background-color: #0056b3;
}